*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    background-color: #9dc8b25d;
}
header{
    margin-bottom: 5rem ;
}

nav{
    height: 100%;
    border-radius: 0 0 2rem 2rem;
    
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0268c300;
    --bs-btn-border-color: #6c757d00;
    --bs-btn-font-size: 1.2rem;
    --bs-btn-font-weight: 500;
  }
  
  #navegacao{
    background-color: #8DC8B2;
  }
  
  
  .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: var(--bs-btn-active-color);
    background-color: #4c866b;
    border-color: #4c866b;
  }
  .btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: #4c866b;
    border-color: #4c866b;
  }
  
  .dropdown-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 10rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-font-size: 1.1rem;
    --bs-dropdown-color: var(--bs-body-color);
    --bs-dropdown-bg: #4c866b;
    --bs-dropdown-link-hover-bg: #1b4532;
  }

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    
    margin-top: 2rem;
}

form{
    display: grid;
    grid-template-columns: 50% 50%;
    
}
.form-container {
    max-width: 800px;
    margin: 0 auto;
    gap: 20px;
  }
  
  .form-container form {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    gap: 1rem;
  }

  .form-container .form-group {
    flex: 1 1 calc(50% - 20px);
    min-width: 300px;
  }

  .form-container .full-width {
    flex: 1 1 100%;
  }

  .form-container button {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 20px auto 0;
  }

  @media (max-width: 768px) {
    .form-container .form-group {
      flex: 1 1 100%;
    }
  }