.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0268c300;
  --bs-btn-border-color: #6c757d00;
  --bs-btn-font-size: 1.2rem;
  --bs-btn-font-weight: 500;
}

#navegacao{
  background-color: #8DC8B2;
}


.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  color: var(--bs-btn-active-color);
  background-color: #4c866b;
  border-color: #4c866b;
}
.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: #4c866b;
  border-color: #4c866b;
}

.dropdown-menu {
  --bs-dropdown-zindex: 1000;
  --bs-dropdown-min-width: 10rem;
  --bs-dropdown-padding-x: 0;
  --bs-dropdown-padding-y: 0.5rem;
  --bs-dropdown-spacer: 0.125rem;
  --bs-dropdown-font-size: 1.1rem;
  --bs-dropdown-color: var(--bs-body-color);
  --bs-dropdown-bg: #4c866b;
  --bs-dropdown-link-hover-bg: #1b4532;

}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 710px;
  }
}

@media (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm {
      max-width: 720px;
  }
}



main {
  margin-top: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  height: auto;
  width: 90vw;
  max-width: 720px;
  padding: 20px;
  border-radius: 10px;
}

.form-floating {
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
}

.col-md-6 {
  padding-left: 0px;
  padding-right: 15px;
}

body{
  background-color: #e8efec;
}

.form-control {
  background-color: #E6F8F1;
  border: none;
}

:root, [data-bs-theme=light] {
  --bs-body-bg: #ff0e0e00;
}

.form-floating>.form-control-plaintext~label, .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
    color: #198754;
    transform: scale(.85) translateY(-.5rem) translateX(.15rem);
}